*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav{
    transform: rotate(-20deg);
}

.circulo-container{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circulo{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: transfom 0.5s linear;
}

.circulo button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: white;
}

.circulo button:focus{
    outline: none;
}

.circulo button#open{
    left: 60%;
}

.circulo button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.conteudo img{
    max-width: 100%;
}

